<div class="container">
    <form class="login-form">
        {{> Input label="Логин" name="login" }}
        {{> Input label="Пароль" name="password" }}
        {{> ButtonLink label="Вход" href="#" page="list" type="primary" }}
        {{> ButtonLink label="Нет аккаунта?" href="#" page="auth" type="link" }}
    </form>
</div>