<div class="input">
    <label class="input-container">
        <input class="input-element" placeholder name="{{name}}" {{#if disabled}} disabled="disabled" {{/if}} />
        <div class="input-label">{{label}}</div>
    </label>
</div>
