 <div class="container profile">
    <div class="list-left-block">
        <div class="list-search">{{> ListSearch profile="true" }}</div>
        <div class="list-contacts-container">
            <div class="avatar-container">
                <img class="profile-avatar" src="/src/assets/no_user.png" alt="Аватар пользователя">
                {{> ButtonLink label="Изменить аватар" href="#" page="profile-edit-avatar" type="link" }}
            </div>
            <div class="lofin-info-container">
                {{> Input label="Логин" name="login" disabled=readonly }}
                {{> Input label="Телефон" name="phone" disabled=readonly }}
            </div>
            <div class="profile-actions-1">
                {{> ButtonLink label="Выйти" href="#" page="login" type="link" }}
            </div>
        </div>
    </div>
    <div class="list-right-block">
        {{> TopChat profile="true" }}
        <div class="profile-info">
            <div class="profile-info-data">
                <form class="user-form">
                    {{> Input label="Почта" name="email" disabled=readonly }}
                    {{> Input label="Имя" name="first_name" disabled=readonly}}
                    {{> Input label="Фамилия" name="second_name" disabled=readonly}}
                    {{> Input label="Пароль" name="password" disabled=readonly}}
                    {{> Input label="Повторите пароль" name="repeat_password" disabled=readonly}}
                </form>
            </div>
            <div class="profile-actions-2">
                    {{#if readonly }}
                        {{> ButtonLink label="Изменить данные" href="#" page="profile-edit" type="primary"  }}
                        {{> ButtonLink label="Изменить пароль" href="#" page="profile-edit-password" type="link" }}
                    {{else}}
                        {{> ButtonLink label="Сохранить" href="#" page="profile" type="primary"  }}
                        {{> ButtonLink label="Отмена" href="#" page="profile" type="link" }}
                    {{/if}}
            </div>
        </div>
    </div>
</div>

{{#if editPasswrdDialog}}
    {{> EditPasswordModal }}
{{/if}}

{{#if editAvatarDialog}}
    {{> EditAvatarModal }}
{{/if}}
