<main>
    <div class="container">
        <div class="list-left-block">
            <div class="list-search">{{> ListSearch }}</div>
            <div class="list-contacts-container">{{> ListCat cats=cats }}</div>
        <div class=""></div>
        </div>
        <div class="list-right-block">
            {{#each cats}}
                    {{#if active}}
                    {{> TopChat }}
                {{/if}}
            {{/each}}
            <div class="chat"></div>
            <div class="message">{{> MessageBox }}</div>
        </div>
    </div>
</main>
