<ul>
    <li><a href="#" page="login">Login</a></li>
    <li><a href="#" page="auth">Authorization</a></li>
    <li><a href="#" page="list">List</a></li>
    <li><a href="#" page="error-404">404</a></li>
    <li><a href="#" page="error-500">500</a></li>
</ul>