.button-link {
  background-color: initial;
  border: none;
  font-weight: bold;
  display: block;
  width: 100%;
  padding: 12px 0;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.button-link__primary {
  background-color: var(--main-color);
  color: var(--text-color);
  font-size: 13px;
}

.button-link__link {
  color: var(--main-color);
  font-size: 11px;
  text-align: center;
}

.button-link-arrow {
  background-color: var(--main-color);
  height: 28px;
  width: 28px;
  border-radius: 50%;
}

.button-link-arrow__left,
.button-link-arrow__right {
  margin: 0 auto;
  width: 11px;
  height: 1.6px;
  position: relative;
  background-color: var(--text-color);
}

.button-link-arrow__left::after,
.button-link-arrow__left::before,
.button-link-arrow__right::after,
.button-link-arrow__right::before {
  content: "";
  background-color: #fff;
  display: inline-block;
  width: 7px;
  height: 1.6px;
  position: absolute;
}

.button-link-arrow__right::after {
  transform: rotate(45deg);
  bottom: 2px;
}

.button-link-arrow__right::before {
  transform: rotate(-45deg);
  top: 2px;
}

.button-link-arrow__left::after {
  transform: rotate(-45deg);
  bottom: 2px;
  left: -1px;
}

.button-link-arrow__left::before {
  transform: rotate(45deg);
  top: 2px;
  left: -1px;
}