<div class="top-chat-box">
    <div class="avatar list-avatar-container"><img src="{{ avatar }}"/></div>
    <div class="user-chat-info">
        <div class="user-name">{{ name }}</div>
    </div>
    <div class="buttons"><i class="fa fa-ellipsis-v"></i></div>
</div>