.list-search {
    position: relative;
}

.list-search-input .input {
    height: 60%;
}

.list-search-input {
    height: 40px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

#button-list-search {
    display: block;
    color: var(--text-color);
    position: relative;
    width: 100px;
    position: absolute;
    right: 20px;
}

#button-list-search:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: rgba(0, 0, 0, 0);
    border-left-color: var(--main-color);
    border-width: 20px;
    margin-top: -20px;
    margin-left: -5px;
}

#button-profile {
    display: block;
    color: var(--text-color);
    position: relative;
    width: 150px;
    position: absolute;
    right: 5px;
}

#button-profile:before {
    left: -35px;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: rgba(0, 0, 0, 0);
    border-right-color: var(--main-color);
    border-width: 20px;
    margin-top: -20px;
    margin-right: -5px;
}