<div class="list-search-box">
    <div class="list-search-button-container">
        {{> ButtonLink id="button-profile" type="primary" label="Профиль" icon_left="fa-cog" href="#" page="profile" }}
        </div>
    <div class="list-search-input">{{> Input name="chat-search" label="Поиск" }}</div>
</div>