<div class="list-search-box">
    <div class="list-search-button-container">
        {{#if profile}}
            {{> ButtonLink id="button-profile" type="primary" label="Назад к чатам" icon-left="fa-cog" href="#" page="list" }}
        {{else}}
            {{> ButtonLink id="button-list-search" type="primary" label="Профиль" icon-left="fa-cog" href="#" page="profile" }}
        {{/if}}
        </div>
    {{#if profile}}

    {{else}}
        <div class="list-search-input">{{> Input name="chat-search" label="Поиск" }}</div>
    {{/if}}
</div>
