<div class="message-box">
    <div class="includes"><i class="fa fa-paperclip"></i></div>
    <div class="message-input">{{> Input name="message" }}</div>
    <div class="message-enter"><i class="fa fa-arrow-right"></i></div>
</div>
