<div class="dialog-container">
    <div class="dialog">
        <h2 class="dialog-title">{{title}}</h2>
        <div class="dialog-body">
            {{> @partial-block }}
        </div>
        <div class="dialog-footer">
            {{> ButtonLink label=labelOk type="primary" href=hrefOk page=linkOk }}
            {{#if labelCancel}}
                {{> Button label=labelCancel type="link" }}
            {{/if}}
        </div>
    </div>
</div>
