<main>
    <div class="error-container">
        <span class="error-code">{{code}}</span>
        <span class="error-comment">{{comment}}</span>
        <div class="error-button-container">
            {{> ButtonLink type="primary" label="Назад к чатам" icon_right="fa-arrow-right" href="#" page="list" }}
        </div>
    </div>
</main>
